@model WomPlatform.Connector.Models.SourceLoginResultV1
@{
    Layout = "Main";
    ViewBag.Title = "Select source";
}

<h1>Source</h1>

<p>Logged in, pick source to use for voucher generation.</p>

@foreach(var s in Model.Sources) {

    <p>
        <a href="@Url.Action(nameof(MainController.ShowGenerationForm), "Main", new { sourceId = s.Id })">
            @s.Name
        </a>
    </p>
}
